# Copyright IBM Corp. 2013, 2025
# SPDX-License-Identifier: MPL-2.0

version: 2

updates:
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "weekly"
