#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1
#export DH_OPTIONS=-v

build:
	dh build

clean:
	dh_testdir
	dh_auto_clean
	dh_clean

%:
	echo "target" $@
	dh $@

override_dh_auto_test:

