//
// Home
// --------------------------------------------------

#features{
	@include anti-alias();
	padding: 90px 0 0 0;

	.row{
		padding: 0 0 90px 0;
	}

	h2{
		font-size: 32px;
		letter-spacing: 2px;
		color: $serf-gray;
		text-transform: uppercase;
		font-family: $font-family-rales;
		font-weight: $font-weight-rales-sb;
	}
	p{
		font-size: 18px;
		letter-spacing: 1px;
        line-height: 1.5em;
		color: $serf-gray-darker;
		font-family: $font-family-source-sans;
		font-weight: $font-weight-open;
	}

	.icn{
		display: block;
		width: 286px;
		height: 286px;
		margin: 0 auto;
		background-size: 286px 286px;
		background-position: 0 0;
		background-repeat: no-repeat;
	}

	.icn1{
		background-image: image-url("gossip-proto-icon@2x.png");
	}
	.icn2{
		background-image: image-url("failure-detect-icon@2x.png");
	}
	.icn3{
		background-image: image-url("custom-event-icon@2x.png");
	}
}

#trusted{
	background-color: $black;
	padding: 140px 0;

	h3{
		margin-bottom: 60px;
		color: $white;
		text-transform: uppercase;
		font-size: 18px;
		text-align: center;
	}

	.trusted-items{
		width: 800px;
		margin: 0 auto;

		ul {
			padding: 0;
			> li{
				display: inline-block;
				float: left;
				width: 25%;
				height: 80px;
				margin: 12px 0;
				background: image-url("trusted-sprite.png") 0 0 no-repeat;

				&#i0{
					background-position: 0 0;
				}
				&#i1{
					background-position: 0 -80px;
				}
				&#i2{
					background-position: 0 -160px;
				}
				&#i3{
					background-position: 0 -240px;
				}
				&#i4{
					background-position: 0 -320px;
				}
				&#i5{
					background-position: 0 -400px;
				}
				&#i6{
					background-position: 0 -480px;
				}
				&#i7{
					background-position: 0 -560px;
				}
				&#i8{
					background-position: 0 -640px;
				}
				&#i9{
					background-position: 0 -720px;
				}
				&#i10{
					background-position: 0 -800px;
				}
				&#i11{
					background-position: 0 -880px;
				}
			}
		}
	}
}
