<% wrap_layout :inner do %>
	<% content_for :sidebar do %>
		<div class="docs-sidebar hidden-print affix-top" role="complementary">
			<ul class="nav docs-sidenav">
				<li<%= sidebar_current("docs-home") %>>
				<a href="/docs/index.html">Documentation Home</a>
				</li>

				<li<%= sidebar_current("docs-internals") %>>
				<a href="/docs/internals/index.html">Serf Internals</a>
				<ul class="nav">
					<li>
					<a href="#">Gossip Protocol</a>
					</li>

					<li>
					<a href="/docs/internals/simulator.html">Convergence Simulator</a>
					</li>
				</ul>
				</li>

			</ul>
		</div>
	<% end %>

	<%= yield %>
	<% end %>
