name: website

on:
  push:
    branches:
      - master

permissions:
  contents: none

jobs:
  build-website:
    runs-on: ubuntu-20.04
    container:
      image: docker.mirror.hashicorp.services/hashicorp/middleman-hashicorp:0.3.47
    env:
      AWS_ACCESS_KEY_ID: ${{ secrets.AWS_ACCESS_KEY_ID }}
      AWS_SECRET_ACCESS_KEY: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
      FASTLY_API_TOKEN: ${{ secrets.FASTLY_API_TOKEN }}
    defaults:
      run:
        working-directory: website
    steps:
    - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c # v3.3.0
    - name: install gems
      run: bundle install --path vendor/bundle --retry=3
    - name: middleman build
      run: bundle exec middleman build
    - name: website deploy
      run: ./scripts/deploy.sh
